

$BackgroundColor: rgba(0, 0, 0, 0.8);


@mixin textos_decorados($aling: center, $size: 2rem, $decoracion: none) {
    text-align: $aling;
    font-size:  $size;
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap');


body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*Responsive y datos*/
@media (min-width: 992px) {
    .div_navegador {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_logo{
        visibility: visible;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
  }
  @media (max-width: 991px) {
    .img_logo{
        display: none;
    }
  }

  /*hasta aca*/



.div_compania {
    background-color: $BackgroundColor;
}

.Servicios {
    display: flex;
}

a {
    text-decoration: none;
    color: gainsboro !important;

    &:hover {
        text-decoration: none !important;
        color: gray !important;
    }
}

/* .row{
    min-height: min-content;
} */

.div_titulo {
    text-align: center;

    h1{
        font-size: 6rem;
    }
}

.div_informacion {
    text-align: center;
    padding: 3rem;

    p {
        font-size: 1.5rem;
    }
    
    
    h2 {
        @include textos_decorados(center, 3rem, underline);
    }
    
    h3{
        @include textos_decorados(center, 2rem, underline);
    }
    

}

.NuestrosServicios_informacion {
    padding: 1rem;
}

h1,
h2,
h3,
p {
    @include textos_decorados(justify);
    color: white;
    padding: 10px;
}





.MisServicios_Informacion {
    display: inline-block;
}

.NuestrosServicios {
    display: flex;
}

header {
    font-family: 'Bebas Neue', sans-serif;
    background-image: linear-gradient(black, black, black, transparent);
    height: auto;
}

footer {
    background-color: black;
    text-align: left;
    color: white;

    width: 100%;
    padding: 1rem;
}


button{
  background-color: white !important;
}


.ul_navegador {
    list-style-type: disc;
    margin-block-start: 0;
    margin: 5% 0 5% 0;
    padding-inline-start: 0px;

}

.div_servicios {
    margin-bottom: 100px;
    background-color: $BackgroundColor;
}


/*Estilos de Formulario*/

.section_contacto {
    height: max-content;
    background-color: $BackgroundColor;
}

.formulario {
    margin-top: 0;
    margin-left: 30px;
    height: 650px;
}


/*Fin estilos de Formulario*/


/*Proyectos*/

.section_proyectos {
    display: flex;
}

.div_proyectos {
    /*  background-color: black;*/
    height: 700px;
    width: 80%;
    overflow-y: auto;
    padding: 30px;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
}

/*inicio de SobreNosotros*/

.section_nosotros {
    display: flex;

    img {
        width: 20rem;
        border-radius: 100%;
        padding: 20px;
    
        &:hover{
            transition: transform .5s;
            transform: scale(1.1);
            box-shadow: 50 50 50 50 white;
        }
    }
    
}





.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    .p_nosotros {
        text-align: justify;
        width: 100%;
    }
}




/*Fin de SobreNosotros*/

