.Servicios {
    display: flex;
}

.NuestrosServicios_informacion {
    padding: 1rem;
}

.div_servicios {
    margin-bottom: 100px;
    background-color: $BackgroundColor;
}



.NuestrosServicios {
    display: flex;
}



